// ================
// = The 1Kb Grid =
// ================
// 12 columns, 60 pixels each, with 20 pixel gutter
// 960px wide

$grid_columns: 12;

$grid_column_width: 50px;
$grid_gutter_width: 10px;
$grid_combined_width: $grid_column_width + $grid_gutter_width;

$grid_top_offset: 10px;
$grid_left_offset: 0;

$font_size: 18px;
$line_height: $font_size * 1.5;

$grey_dark: #666666;
$grey_light: #cccccc;

@mixin row {
  width: $grid_combined_width * $grid_columns;
  margin: 0 auto;
  overflow: hidden; }

@mixin column($spanned) {
  margin: 0 10px;
  overflow: hidden;
  float: left;
  display: inline;
  width: $grid_combined_width * $spanned - $grid_gutter_width * 2; }

@mixin pad($units) {
  margin-left: 90px + $units * 80; }

@mixin pad_left_1 {
  margin-left: 90px; }

@mixin pad_left_2 {
  margin-left: 170px; }

@mixin pad_left_3 {
  margin-left: 250px; }

@mixin pad_left_4 {
  margin-left: 330px; }

@mixin pad_left_5 {
  margin-left: 410px; }

@mixin pad_left_6 {
  margin-left: 490px; }

@mixin pad_left_7 {
  margin-left: 570px; }

@mixin pad_left_8 {
  margin-left: 650px; }

@mixin pad_left_9 {
  margin-left: 730px; }

@mixin pad_left_10 {
  margin-left: 810px; }

@mixin pad_left_11 {
  margin-left: 890px; }
