/* line 36, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #E5ECF9;
}
/* line 39, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
/* line 42, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
/* line 44, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 46, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
  background: #fff;
  color: #fff;
  visibility: hidden;
}
/* line 48, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp form.inline {
  line-height: 3;
}
/* line 6, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_form.sass */
body.bp form.inline p {
  margin-bottom: 0;
}

/* line 5, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_interaction.sass */
.error {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 30, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_interaction.sass */
.error a {
  color: #8a1f11;
}

/* line 7, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_interaction.sass */
.notice {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 38, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_interaction.sass */
.notice a {
  color: #514721;
}

/* line 9, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_interaction.sass */
.success {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 46, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_interaction.sass */
.success a {
  color: #264409;
}

/* line 11, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_interaction.sass */
.hide {
  display: none;
}

/* line 13, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_interaction.sass */
.highlight {
  background: yellow;
}

/* line 15, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_interaction.sass */
.added {
  background: #006600;
  color: white;
}

/* line 17, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_interaction.sass */
.removed {
  background: #990000;
  color: white;
}

/* line 7, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_debug.sass */
.showgrid {
  background: url('/body.bp');
}

/* line 11, output/stylesheets/screen.css */
body.bp {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
  background-color: #8a8a8a;
  color: #333;
  font: 80% 'Lucida Grande', Tahoma, sans-serif;
}
/* line 58, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
/* line 63, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp h1 img {
  margin: 0;
}
/* line 65, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 69, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
/* line 74, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 79, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
/* line 84, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
}
/* line 88, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 90, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 92, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 96, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 100, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp a {
  text-decoration: underline;
  color: #000099;
}
/* line 12, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:visited {
  color: #000066;
}
/* line 15, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:focus {
  color: black;
}
/* line 18, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:hover {
  color: black;
}
/* line 21, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:active {
  color: #cc0099;
}
/* line 103, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}
/* line 107, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp strong {
  font-weight: bold;
}
/* line 109, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp em {
  font-style: italic;
}
/* line 111, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 114, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 116, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666;
}
/* line 118, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 121, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp del {
  color: #666;
}
/* line 123, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 126, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp pre, body.bp code, body.bp tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
/* line 129, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 131, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 134, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp ul {
  list-style-type: disc;
}
/* line 136, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp ol {
  list-style-type: decimal;
}
/* line 138, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 140, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp dl dt {
  font-weight: bold;
}
/* line 142, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp dd {
  margin-left: 1.5em;
}
/* line 144, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 147, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp th {
  font-weight: bold;
}
/* line 149, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp thead th {
  background: #c3d9ff;
}
/* line 151, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 153, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp tr.even td {
  background: #e5ecf9;
}
/* line 155, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp tfoot {
  font-style: italic;
}
/* line 157, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp caption {
  background: #eee;
}
/* line 159, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp .quiet {
  color: #666666;
}
/* line 161, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_typography.sass */
body.bp .loud {
  color: #111111;
}
/* line 16, output/stylesheets/screen.css */
body.bp #wrapper {
  width: 710px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e0e7b8;
  margin: 2em auto;
  padding: 20px;
}
/* line 5, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/././_hacks.sass */
body.bp #wrapper {
  display: block;
}
/* line 25, output/stylesheets/screen.css */
body.bp #wrapper #header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 710px;
  position: relative;
  margin: 0 0 4em 0;
}
/* line 101, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_grid.sass */
* html body.bp #wrapper #header {
  overflow-x: hidden;
}
/* line 29, output/stylesheets/screen.css */
body.bp #wrapper #header h1 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
/* line 33, output/stylesheets/screen.css */
body.bp #wrapper #header ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 10px;
  margin: 0;
  padding: 0;
  font-size: 130%;
}
/* line 5, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/././_hacks.sass */
body.bp #wrapper #header ul {
  display: block;
}
/* line 50, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
body.bp #wrapper #header ul li {
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 40, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
body.bp #wrapper #header ul li.first {
  padding-left: 0px;
}
/* line 42, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
body.bp #wrapper #header ul li.last {
  padding-right: 0px;
}
/* line 41, output/stylesheets/screen.css */
body.bp #wrapper #header ul li a {
  text-decoration: none;
}
/* line 4, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
body.bp #wrapper #header ul li a:hover {
  text-decoration: underline;
}
/* line 43, output/stylesheets/screen.css */
body.bp #wrapper #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 710px;
}
/* line 101, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_grid.sass */
* html body.bp #wrapper #content {
  overflow-x: hidden;
}
/* line 45, output/stylesheets/screen.css */
body.bp #wrapper #content #images {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 270px;
}
/* line 101, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_grid.sass */
* html body.bp #wrapper #content #images {
  overflow-x: hidden;
}
/* line 47, output/stylesheets/screen.css */
body.bp #wrapper #content #images img {
  width: 128px;
  margin: 0 auto;
}
/* line 50, output/stylesheets/screen.css */
body.bp #wrapper #content #about {
  display: inline;
  float: left;
  margin-right: 0;
  width: 430px;
}
/* line 101, /Users/cdmwebs/.gem/ruby/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/./blueprint/_grid.sass */
* html body.bp #wrapper #content #about {
  overflow-x: hidden;
}
