---
  filter: sass
  extension: css
  layout: nil
---
@import reset.sass
@import grid.sass
@import base.sass

$light_green: #e0e7b8

body
  vertical-align: baseline
  background: url(/images/cincinnati.jpeg) no-repeat 50% 20% #29481f
  background-attachment: fixed
  font-size: 90%
  font-family: "Cantarell", "Helvetica Neue", Helvetica, Arial, sans-serif
  line-height: 140%
  margin: 1em 0
  p
    margin: 1em 0
body.home
  #wrapper
    +row
    +radius(10px)
    background-color: rgba(0,0,0,.85)
    color: #fff
    padding: 1em 1em .5em 1em
    margin-top: 8em
    a
      color: #66cbff
      text-shadow: 0 1px 0 #666
      text-decoration: none
      &:hover
        text-decoration: underline
    #header
      +row
      margin: 1em 0
      h1
        +column(5)
        color: #fff
        font-size: 24pt
        line-height: 100%
      ul
        +column(7)
        margin-top: .5em
        text-align: center
        li
          display: inline
          padding: 0 2px
    #content
      +row
      #images
        +column(5)
        padding-top: 1em
        img
          padding-right: 5px
          height: 128px
      #about
        +column(7)
    #footer
      +column(12)
      p
        text-align: center
        font-size: 80%
        color: #999
      a
        color: #bbb
  #flickr_badge_uber_wrapper 
    +row
    padding: 2em 0 0 0
    text-align: left
  #flickr_badge_wrapper 
    padding: 10px 0 10px 0
  .flickr_badge_image 
    margin: 0 10px 10px 10px
    display: inline
  .flickr_badge_image img 
  #flickr_badge_source 
    text-align: left
    margin: 0 10px 0 10px
  #flickr_badge_icon 
    float: left
    margin-right: 5px
  #flickr_www 
    display: block
    padding: 0 10px 0 10px !important
    font-size: 80%
    a
      font: 100% Arial, Helvetica, Sans serif !important
      color: #3993ff !important
      font-weight: 600
  #flickr_badge_uber_wrapper 
    a:hover, a:link, a:active, a:visited 
      text-decoration: none !important
      background: inherit !important
      color: #3993ff
  #flickr_badge_source 
    padding: 0 !important
    font:  11px Arial, Helvetica, Sans serif !important
    color: #666666 !important
body.resume
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  #wrapper
    +row
    +opacity(0.90)
    +radius(4px)
    background-color: #fff
    color: #333
    padding: 1em 1em 2em 1em
    text-shadow: 0 1px 0 #eee
    a
      color: #1c7839
      text-shadow: 0 1px 0 #bbb
      text-decoration: none
      &:hover
        text-decoration: underline
    h2
      border-bottom: 2px solid $light_green
      clear: both
      font-size: 140%
      margin: 1em 0 0 0
      padding-bottom: 3px
    h3
      font-size: 120%
    h4
      font-size: 110%
    #header
      +column(12)
      text-align: center
    #resume
      +column(12)
      .vcard
        padding: 10px
        background: #f8f8ec
        +radius(8px)
        h1.fn
          display: block
          float: left
          font-size: 200%
          font-weight: bold
          margin: 0 0 .25em 0
        .addr, span.email
          clear: both
          display: block
        .addr
          span.type
            display: none
        a.n:hover:after, a.fn:hover:after
          content: " (" attr(rel) ") "
          color: #636958
          padding-left: 0.3em
      p
        clear: both
        margin: 1em 0
        line-height: 1.5em
      ul
        margin: 1em 2em 0 3em
        &.inline
          list-style: none
          margin: 1em 0 0 1em
          li
            display: inline
            padding: 0 0 0 0
        li
          line-height: 1.5em
          margin: 0 0 0.5em 0
          list-style: disc
      .job
        padding: 1em
        &:hover
          +radius(5px)
          background-color: rgba(248, 248, 236, 0.9)
        h5
          float: left
          margin: 0 0 1em 0
          &.dates
            float: right
    #footer
      display: none
