@import compass/css3
@import foundation_and_overrides

@media #{$small}
  body
    color: #fff
    background:
      image: image-url('cdmwebs-full.jpg')
      size: cover
      repeat: no-repeat

  #main
    margin-top: 5em
    .cdmwebs--about
      margin: 2em 0 0 50%
      background-color: rgba(154, 154, 154, 0.6)
      padding: 1em

@import responsive

